extends layout

block content
  div(class="hero-unit")
    h1="欢迎来到 ledon blog"
    p="基于node.js的微博系统"
  each val, index in posts
      div(class="span4")
          h2
              a(href="/users/"+val.user)=val.user+' say:'
          p
              small=val.time
          p=val.post

